colorama
configparser
mypy-extensions
pathspec
pickle-mixin
regex
selenium
toml
typed-ast
typing-extensions
urllib3
fake-useragent
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
